body{margin: 0;background-color: rgb(20, 14, 56);overflow-x: hidden !important;font-family: 'Comfortaa', cursive !important;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
*{box-sizing: border-box;}
.learnbtn{
  text-decoration: none;
  background-color: transparent;
    padding: 10px 20px;
    border: 1px solid ;
    border-radius: 4px;
  
}
.learnbtn:hover{
  color: white;
  text-decoration: none;
}

l1{
  color: white;
  font-size: 30px;
}
l2{
  color: rgb(255, 217, 0);
  font-size: 30px;
}
.nav-link,.nav-brand{
  color: rgb(255, 255, 255) !important;
}
.nav-link:hover{
color: rgb(197, 197, 197) !important;
 border-radius: 20px;
}
.navbar{
  background-color:rgba(131, 11, 125, 0) ;
  font-family: 'Comfortaa', cursive !important;
  transition: 1.5s ease-in-out;
}



.herocenter{
  padding-top: 250px;
  font-size: 30px;
  color: white;
  text-align: center;
  font-family: 'Comfortaa', cursive ;
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 370px;

}
.mark{
  position: absolute;
  bottom:-200px;
width: 100%;
background-color: white;
height: 200px;
 
}
.mark2{
  position: relative;
 background-color: rgb(255, 255, 255);
 width: 100%;
 height: auto;
 text-align: center;
 padding-bottom: 100px;
}
.cardmark2{
  width:300px;
  display: block;
  border: none;
  padding: 20px 15px;
  transition: 1s ease-in-out;
  margin-left: auto;
  margin-right: auto;
}
.cardmark2:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transform: scale(1.05);
}
.mainco.card{
  transition: 1s ease-in-out;
}
.mainco.card:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transform: scale(1.05);
}
.title{
  font-size: 25px;
  font-weight: bold;
  padding: 10px;
}
.title.t1{
  color: #e44d26;
}
.title.t2{
  color: #1f62ae;
}
.title.t3{
  color: #bb9f14;
}
.b1{
  color:#e44d26 ;
  border-color: #e44d26;
}
.b1:hover{
  background-color: #e44d26;
  border-color: #e44d26;
}
.b2{
  color:#1f62ae ;
  border-color: #1f62ae;
}
.b2:hover{
  background-color: #1f62ae;
  border-color: #1f62ae;
}
.b3{
  color:#bb9f14 ;
  border-color: #bb9f14;
}
.b3:hover{
  background-color: #bb9f14;
  border-color: #bb9f14;
}
.b4{
  color:#bb9f14 ;
  border-color: #bb9f14;
  width: 200px;
  margin-top: 40px;
  float: left;
}
.b4:hover{
  background-color: #bb9f14;
  border-color: #bb9f14;
}
.cardcontent{
  font-size: 18px;
  color: rgb(85, 94, 94);
}
.mark3{
  position: relative;
 background-color: rgb(37, 37, 37);
 width: 100%;
 min-height: 700px;
 max-height: auto;
 text-align: center;
 padding: 50px 10px;

}
.mark4{
  position: relative;
 background-color: rgb(37, 37, 37);
 width: 100%;
 text-align: center;
 padding: 50px 10px;

}
.moon{
  position: absolute;
  top: 50px;
  right: 50px;
}

.col-sm{
  padding-bottom: 20px;
}

.typewrite{
  color: rgb(255, 196, 0);
}

.bigtxt{
  margin-top: 70px;
  font-size: 55px;
  font-weight: bolder;
  color: white;
  text-align: left;
  font-family: 'Comfortaa', cursive ;
  line-height: 1.2;
}

.bigtxt l2{
  font-size: 60px;
}



@keyframes move_wave {
  0% {
      transform: translateX(0) translateZ(0) scaleY(1)
  }
  50% {
      transform: translateX(-25%) translateZ(0) scaleY(0.55)
  }
  100% {
      transform: translateX(-50%) translateZ(0) scaleY(1)
  }
}
.waveWrapper {
  overflow: hidden;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}
.waveWrapperInner {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100%;
  bottom: -1px;
  
}
.bgTop {
  z-index: 15;
  opacity: 0.5;
}
.bgMiddle {
  z-index: 10;
  opacity: 0.75;
}
.bgBottom {
  z-index: 5;
}
.wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}
.waveTop {
  background-size: 50% 100px;
}
.waveAnimation .waveTop {
animation: move-wave 3s;
 -webkit-animation: move-wave 3s;
 -webkit-animation-delay: 1s;
 animation-delay: 1s;
}
.waveMiddle {
  background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
  animation: move_wave 10s linear infinite;
}
.waveBottom {
  background-size: 50% 100px;
}
.waveAnimation .waveBottom {
  animation: move_wave 15s linear infinite;
}







.m4h{
 position: absolute;
 text-align: center;
 color: #94908f1a;
 font-size: 70px;
 width: 100%;
 transition: 2s;
 padding-right: 10px;
}
.m4h:hover{
letter-spacing: 7px;
}
.m4hs{
  text-align: center;
  color: #c59d19d2;
  font-size: 40px;
  width: 100%;
  margin-top: 23px;
  margin-bottom: 100px;
 }

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/*article cards-------------------------*/

.article-card{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  text-align: left;
  transition: 0.8s ease-in-out;
  margin-bottom: 20px;
}
.article-card:hover{
  transform: scale(1.04);
}
.article-title{
  font-size:20px;
  color: #bb9f14;
  padding: 5px;
}

.article-intro{
  font-size: 15px;
  color: rgb(176, 199, 199);
  padding: 5px;
  
}

.article-image{
  position: relative;
  width: 100%;
  height: 180px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  transition:0.8s;
}

.article-card:hover{
  filter: saturate(8);
}
.article-date{
  color: rgba(255, 0, 234, 0.568);
  font-size: 12px;
  padding: 5px;
}
.article-stats{
  float: right;
}
.article-readmore-btn{
float: right;
  color: white;
  border-radius: 4px;
  width: auto;
  padding: 5px 10px;
  margin-bottom: 5px;
}
.article-readmore-btn:hover{
  color: rgba(255, 0, 234, 0.568);
}

.article-section{
  width: 80%;
  background-color: rgba(255, 0, 221, 0.233);
  text-align: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding: 5px 10px;
  color: #bb9f14;
  font-size: 20px;
}
.carousel-control-next,.carousel-control-prev{position:absolute;}



.footer{
  position: relative;
  background-color: rgb(37, 37, 37);
  width: 100%;
  text-align: center;
  padding: 50px 10px;
}
.footertxt{
  color: #bb9f14;
}


.content-accordion {
  height: 100%;
  width: 25%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding: 20px;
}

.content-accordion .closebtn {
  position: absolute;
  display: none;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.autotablinks {
  font-size: 15px; 
text-decoration: none;
color:rgb(111, 0, 202);
padding: 12px 10px 12px 18px;
display: block;

}
.autotablinks:hover {
text-decoration: none;
color: rgb(0, 202, 142) !important;
}
#mainHTML1 {
  transition: margin-left .5s;
  padding: 16px;
  background-color: white;
  margin-left: 25%;
}

@media screen and (max-height: 450px) {
  .content-accordion {padding-top: 15px;}
  .content-accordion a {font-size: 18px;}
}
.HTML1-side-section{
  padding-top: 100px;
  position: fixed;
  width: 22%;
  background-color: rgb(255, 255, 255);
  bottom: 0;
  left: 0;
  height: 100%;
  overflow-x: hidden;
  z-index: 1;
  transition: 0.2s ease-in-out;
  display: block;
}

/* width */
.HTML1-side-section::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.HTML1-side-section::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.473); 
  border-radius: 10px;
}
 
/* Handle */
.HTML1-side-section::-webkit-scrollbar-thumb {
  background: rgba(75, 72, 72, 0.11); 
  border-radius: 10px;
}

/* Handle on hover */
.HTML1-side-section::-webkit-scrollbar-thumb:hover {
  background: #7a00b3a2; 
}
.HTML1-main-content{
  margin-left: 22%;
  padding:100px 0px;
  background-color: rgb(255, 255, 255);
  min-height: 800px;
}

.todobgwhite{
  background-color: white;
}
.HTMLnav{
  background-color: rgb(131, 11, 125) ;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 0;
  height: 70px !important;
  z-index: 2;
}

#HTML1-side-section-btn{
  font-size: 30px;
}

@media screen and (min-width: 900px) {

  #HTML1-side-section-btn{
   display: none;
  }
  .nav-right-edit{
    position: absolute;
    right: 0;
  }
}
@media screen and (max-width: 900px) {
  .HTML1-side-section{
    width: 0;
  }
  .HTML1-main-content{
    margin-left: 0;
  }
  .logoHTMLpage{
    display: none;
  }
  
  .nav-right-edit{
   width: 100%;
   text-align: center;
  }

}
.HTMLCardIndex{
  display: block;
  box-shadow: 4px 4px 8px 3px rgba(0, 0, 0, 0.2);
  height: 300px;
  padding: 20px;
}
.HTMLCardIndex:hover{
  box-shadow: 4px 8px 16px 7px rgba(110, 32, 97, 0.2);
}
.HTMLCardModuleno{
  display: block;
  padding: 3px 7px;
  background-color: rgb(0, 202, 142);
  color: white;
  font-size: 15px;
  border-radius: 10px;
  width: fit-content;
  
}
.HTMLCardModulepts{
  display: block;
  padding: 3px 7px;
  background-color: rgb(111, 0, 202);
  color: white;
  font-size: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  width: fit-content;
  float: right;
}
.HTMLCardListIndex{
  display: block;
 padding: 6px;
 font-size: 20px;
 color: rgb(44, 44, 43);
 text-align: left;
 border-bottom: 2px solid rgb(0, 202, 142);
 width: fit-content;
 margin-bottom: 20px;
}
.col-sm.secondindex{
  display: none;
}

@media screen and (max-width:900px) {
  .HTML1-main-content{
    padding:100px 0px;
  }
  .col-sm.firstindex{
    display: none;
  }
  .col-sm.secondindex{
    display: block;
  }
  .HTMLCardIndex{
  height: fit-content;
  }
}
.startbtn{
  background-color: rgb(111, 0, 202);
  font-size: 23px;
  color: white;
  border-radius: 10px;
  padding: 3px 12px;
  text-decoration: none;
  float: right;
}
.startbtn:hover{
text-decoration: none;
color: white;
background-color: rgba(111, 0, 202, 0.726);
}
.tablinks{
  color: #000000c4;
  font-size: 18px;
}
.tablinks:hover{
  color: rgb(0, 202, 142) !important;
  cursor: pointer;
}


/* Style the tab content */
.tabcontent {
  display: block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px 20px 50px 20px;
  color: rgb(70, 70, 70);

}
.tabcontent:hover{
  box-shadow: 4px 8px 16px 7px rgba(110, 32, 97, 0.2);
}
.nobullets{
  list-style-type: none;
}
.nobullets li{
  padding-left: 20px;
  text-indent: -10px;
}
@media screen and (max-width:900px) {
  .tabcontent {
    padding: 20px 10px ;
  } 
  .tabcontent.nobullets{
    padding-left: 10px;
    text-indent: 0px;
  }
  .tabcontent li{
    margin-left: 20px;
    text-indent: -10px;
  }
}
.HTMLcard-active{
  color: rgba(111, 0, 202, 0.726);

}


/* Style the tab */
.autotab {
  overflow: hidden;
}
.autotablinks{
text-decoration: none; 
}

/* Create an active/current tablink class */
.autotab a.autoactive {
  background-color: #ccc;
}

/* Style the tab content */
.autotabcontent {
  display: none;
}


.mainmodule{
  display: none;
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: 1001;
  top: 0;
  left: 0;
  background-color: rgb(37, 37, 37);
}
.onmoduleopen::-webkit-scrollbar {
  display: none;
}
#mySearch{
  width: 90%;
margin-left: 20px;
}

::-moz-selection { /* Code for Firefox */
  color: rgb(255, 255, 255);
  background: rgba(234, 0, 255, 0.603);
}

::selection {
  color: rgb(255, 255, 255);
  background: rgba(234, 0, 255, 0.603);
}

.codecard{
  width: 100%;
  margin-left: 0;
  background-color: rgb(26, 24, 24);
  border-left:3px solid rgb(0, 202, 142);
  border-right:3px solid rgb(26, 24, 24);
  overflow-x: scroll;
  border-radius: 10px;
 
}
pre {
  display: block;
  font-family: monospace;
  white-space: pre;
  margin-left:-60px;
  color: rgb(177, 177, 177);
  font-size: 17px; 
} 


/* width */
.codecard::-webkit-scrollbar {
  width: 1px;
}

/* Track */
.codecard::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0px rgba(128, 128, 128, 0); 
  border-radius: 0px;
}
 
/* Handle */
.codecard::-webkit-scrollbar-thumb {
  background: rgba(75, 72, 72, 0); 
  border-radius: 10px;
}

/* Handle on hover */
.codecard::-webkit-scrollbar-thumb:hover {
  background: #7a00b300; 
}

.childtabcontent{
  position: relative;
  display: block;
  padding: 20px 40px;
  
}
.scrollhelper{
  position: absolute;
  top: -80px;

}
@media screen and (max-width:500px){
  .codecard{
    width: 100%;
    margin: 0;  
  }
  .childtabcontent{
    padding: 20px 5px;
    
  }
}




/*module template*/

.modbody{
  width: 100%;
  height: 100%;
  margin: 0;
  position:fixed;
  background-color: #1f1f1f;
}

.backcontainl{
float: left;
height: 95%;
width: 48%;
margin-left: 1%;
margin-top: 1%;
background-color: rgb(45, 41, 46);

border-radius: 15px;
overflow: auto;
}
.langside{
  font-size: 20px;
  color: rgba(255, 166, 0, 0.418);
padding: 15px;
  float: right;
}
.backcontainr{
  float: left;
  height: 95%;
  width: 48%;
  margin-left: 1%;
  margin-top: 1%;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  padding: 20px;
  }
  .codemod{
   margin: 20px;
  }
@media screen and (max-width:800px) {
  .backcontainl{
    width: 98%;
    height: 48%;
  }
  .backcontainr{
    width: 98%;
    height: 48%;
  }
}
/* width */
.backcontainl::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.backcontainl::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.473); 
  border-radius: 3px;
}
 
/* Handle */
.backcontainl::-webkit-scrollbar-thumb {
  background: rgba(75, 72, 72, 0.11); 
  border-radius: 3px;
}

/* Handle on hover */
.backcontainl::-webkit-scrollbar-thumb:hover {
  background: #7a00b3a2; 
}
e{
  display: block;
  color: rgb(0, 173, 101);
  font-family: monospace;
  font-weight:200;
  font-size: 17px;
}
k{
  color: rgb(175, 175, 175);
}
e:before {
  content: '<';
  color: rgb(206, 82, 0);
}

e:after {
  content: '>';
  color: rgb(206, 82, 0);
}
k:before {
  content: '>';
  color: rgb(206, 82, 0);
}

k:after {
  content: '<';
  color: rgb(206, 82, 0);
}

.resimg{
  width: 47%;
  margin: 10px;
}

@media screen and (max-width:500px) {
  .resimg{
    width:94%;
    margin: 10px;
  }
}